
Camera/Camera.xcodeproj/project.xcworkspace/xcuserdata/yamadakei.xcuserdatad/UserInterfaceState.xcuserstate

Camera.zip

Camera/.DS_Store

Camera/.DS_Store

Camera/Camera/ViewController.m

SwipeTest.zip

Camera.zip

Camera/.DS_Store
