<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ROOT</key>
	<array>
		<dict>
			<key>area</key>
			<string>202.89Km²</string>
			<key>description</key>
			<string>岐阜市（ぎふし）は、岐阜県の中南部に位置する都市で、岐阜県の県庁所在地である。旧稲葉郡・山県郡・本巣郡・羽島郡。国から中核市に指定されている。
戦国時代には金華山の麓の旧岐阜町が斎藤道三や織田信長の城下町として盛え、江戸時代には南部の旧加納町が中山道加納宿の宿場町、加納藩の城下町として盛えた。現在の岐阜市はこの2つの街が核となって出来上がっているものである。</string>
			<key>image</key>
			<string>gifu.png</string>
			<key>latitude</key>
			<real>35.423355</real>
			<key>longitude</key>
			<real>136.760623</real>
			<key>name</key>
			<string>岐阜市</string>
			<key>population</key>
			<string>413226人</string>
			<key>url</key>
			<string>http://www.city.gifu.lg.jp/</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.31991</real>
			<key>longitude</key>
			<real>136.703349</real>
			<key>area</key>
			<string>53.64Km²</string>
			<key>description</key>
			<string>羽島市（はしまし）は岐阜県の市。岐阜県内で唯一、新幹線駅がある自治体である。
当市内にある東海道新幹線駅、名神高速道路のインターチェンジ、店舗名、支店名等の多くで岐阜羽島(ぎふはしま)を使っている事が多く、そのため当市を指して岐阜羽島と呼ぶことも多い。そのため、稀に岐阜羽島市と誤記されることもある。</string>
			<key>image</key>
			<string>hashima.png</string>
			<key>name</key>
			<string>羽島市</string>
			<key>population</key>
			<string>67167人</string>
			<key>url</key>
			<string>http://www.city.hashima.lg.jp/</string>
		</dict>
		<dict>
			<key>latitude</key>
			<real>35.398869</real>
			<key>longitude</key>
			<real>136.848264</real>
			<key>area</key>
			<string>87.77Km²</string>
			<key>description</key>
			<string>各務原市（かかみがはらし）は、岐阜県南部の市である。
通称、かがみはらし。地元の人間の間では「かかみがはら」ではなく「かがみはら」と呼ぶことが多い。
濃尾平野の北部に位置し、中山道の宿場町（鵜沼宿）として栄え、近年は岐阜市や名古屋市のベッドタウンとして発展を遂げた。
市内には「各務原市民公園」をはじめとする多数の大規模な公園緑地があり、「パークシティ＝公園都市」を目指すことを市のまちづくりの政策として掲げ、2005年に「緑の都市賞」内閣総理大臣賞を受賞している。</string>
			<key>image</key>
			<string>kakamigahara.png</string>
			<key>name</key>
			<string>各務原市</string>
			<key>population</key>
			<string>145658人</string>
			<key>url</key>
			<string>http://www.city.kakamigahara.lg.jp/</string>
		</dict>
		<dict>
			<key>longitude</key>
			<real>136.781372</real>
			<key>latitude</key>
			<real>35.506109</real>
			<key>area</key>
			<string>222.04Km²</string>
			<key>description</key>
			<string>山県市（やまがたし）は、岐阜県にある市である。また、同県において平成の大合併によって誕生した最初の市である。</string>
			<key>image</key>
			<string>yamagata.png</string>
			<key>name</key>
			<string>山県市</string>
			<key>population</key>
			<string>29472人</string>
			<key>url</key>
			<string>http://www.city.yamagata.gifu.jp/</string>
		</dict>
		<dict>
			<key>longitude</key>
			<real>136.69084</real>
			<key>latitude</key>
			<real>35.39194</real>
			<key>area</key>
			<string>28.18km²</string>
			<key>description</key>
			<string>「瑞穂」は、古事記や日本書紀に日本の国の美称として「豊葦原之瑞穂国（とよあしはらのみずほのくに）」と現れるもので、「葦がしげり、稲穂がみずみずしく育って、豊かな国」と解釈されています。
　思えば、当地にまつわる伝説として、垂仁天皇の命を受けた倭姫命（やまとひめのみこと）が天照大神を祀る地を求めて、美濃国の伊久良河宮（現在の瑞穂市居倉）にとどまり、その後、生津から川を下って伊勢に赴かれた話が伝えられています。当地が早くから拓け、要衝の地であったことがうかがわれます。</string>
			<key>image</key>
			<string>mizuho.png</string>
			<key>name</key>
			<string>瑞穂市</string>
			<key>population</key>
			<string>52,215人</string>
			<key>url</key>
			<string>http://www.city.mizuho.lg.jp/</string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>本巣市</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>羽島郡</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>本巣郡</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>大垣市</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>海津市</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>養老郡</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>不破郡</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>安八郡</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>揖斐郡</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>関市</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>美濃市</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>美濃加茂市</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>可児市</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>郡上市</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>加茂郡</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>可児郡</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>多治見市</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>中津川市</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>瑞浪市</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>恵那市</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>土岐市</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>高山市</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>飛騨市</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>下呂市</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>longitude</key>
			<integer>0</integer>
			<key>latitude</key>
			<integer>0</integer>
			<key>area</key>
			<string></string>
			<key>description</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>大野郡</string>
			<key>population</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
